.page-wrapper{
    background-image: url(../images/f-d.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu {
    background: white;
    padding: 20px 15px;
    width: 30%;
}

.sidebar-title {
    background: var(--bg-secondary);
    padding: 15px 10px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.order-row {
    display: flex;
    justify-content: space-between;
}

ul#food-menu {
    list-style: none;
    margin-top: 15px;
}

ul#food-menu li a {
    display: block;
    padding: 15px 20px;
    font-size: 13px;
    color: var(--font-dark);
}

ul#food-menu li:hover a{
    background-color: var(--bg-primary);
    transition: 0.3s all;
    color: white;
}

.order-detail {
    width: 65%;
    background: white;
    padding: 15px 20px;
}

.order {
    display: flex;
}

ul.list-inline {
    list-style: none;
    display: flex;
}

ul.list-inline li{
    font-size: 12px;
    color: var(--font-dark);
}

ul.list-inline li:last-child{
    margin-left: 5px;
}

ul.list-inline li:last-child a{
   color: var(--font-primary);
}

.entry-dscr {
    padding: 0 20px;
    border: 1px solid #ccc;
    margin-left: 20px;
}

.entry-dscr h5{
    margin-top: 15px;
}

.entry-dscr h5 a{
    color: var(--font-primary);
}

.entry-dscr p{
    margin: 10px 0;
}

.order-view .right-review a {
    display: inline-block;
    font-size: 13px;
    padding: 7px 15px;
    background: var(--bg-secondary);
    border: none;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    color: white;
}

.order-id {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.restaurant-entry {
    height: 500px;
    overflow-y: auto;
}